/* reset */
$min-width: 320px;    
$max-width: 1330px;   
$base-bg: #fff; 
$base-font-size: 14px; 
$base-line-height: 1.5; 
$base-font-family: 'Roboto', sans-serif; 
$link-color: #0DB0DF;
$default-transition:all 0.3s linear;

/* main variables */

//text, titles
$text-color: #52555A;  
$title-color: #101922; 
$title-font-family: 'Futura PT', sans-serif;

$font-size-h1: 72px;   
$line-height-h1: 1.2;     
$font-size-h2: 48px;
$line-height-h2: 1.2;
$font-size-h3: 36px; 
$line-height-h3: 1.2; 
$font-size-h4: 18px;
$line-height-h4: 1.2; 
